.App  {
  text-align: center;

}
h1 {
 position: relative;

  color: rgb(236, 204, 187);
  font-size:6vmin;

}
h2 {
 
  color: rgb(199, 113, 67);
  font-size: 5vmin;
}

.App-logo {

 height:12vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}
body {
   /* background-color: #282c34; */
  background-image: url(./backround.jpeg);
  background-repeat: no-repeat;
  background-size: 100%; 
}

.App-header {
  /* background-color: #282c34; */
  /* background-image: url(./backround.jpeg);
  background-repeat: no-repeat; */
  /* background-size: 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}


.App-link {
  color: #f5786a;
  font-size: 5vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
