.App  {
  text-align: center;

}
h1 {
 position: relative;

  color: rgb(236, 204, 187);
  font-size:6vmin;

}
h2 {
 
  color: rgb(238, 116, 50);
  font-size: 5vmin;
}

.App-logo {

 height:11vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}
body {
   background-color: #282c34;
  background-image: url(./backround.jpeg);
  background-repeat: no-repeat;
  background-size: 100%; 
  color: #fff;
  font-size: 5vmin;
}

h3  {
  font-size: 2rem;
color: rgb(233, 123, 59);  
}



.App-link {
  color: #f8604f;
  font-size: 8vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


